<mat-toolbar class="flex justify-around items-center">
  <div>
    <a [routerLink]="''" style="text-decoration: none" matTooltip="Home">
      <span class="1 text-2xl font-semibold text-indigo-500">Game Store</span>
    </a>
  </div>
  <div class="flex gap-10">
    <span>
      <a [routerLink]="'/cart'">
        <mat-icon class="text-1xl text-indigo-500" matTooltip="Shopping Cart"
          >shopping_cart</mat-icon
        >
      </a>
    </span>
    <span>
      <a [routerLink]="'/order'">
        <mat-icon class="text-1xl text-indigo-500" matTooltip="Orders"
          >history</mat-icon
        >
      </a>
    </span>
    <span>
      <a [routerLink]="'/admin'">
        <mat-icon class="text-1xl text-indigo-500" matTooltip="Admin Panel"
          >admin_panel_settings</mat-icon
        >
      </a>
    </span>
    <span>
      <a [routerLink]="'/login'">
        <mat-icon class="text-1xl text-indigo-500" matTooltip="Login"
          >login</mat-icon
        >
      </a>
    </span>
  </div>
</mat-toolbar>
