<div class="flex flex-col items-center justify-start h-screen gap-10 px-32">
  <a
    routerLink="games"
    class="text-xl text-center font-medium text-indigo-500 bg-white px-52 py-10 rounded-md hover:bg-indigo-100 transition-all min-w-full"
    >Games</a
  >
  <a
    routerLink="genres"
    class="text-xl text-center font-medium text-indigo-500 bg-white px-52 py-10 rounded-md hover:bg-indigo-100 transition-all min-w-full"
    >Genres</a
  >
  <a
    routerLink="platforms"
    class="text-xl text-center font-medium text-indigo-500 bg-white px-52 py-10 rounded-md hover:bg-indigo-100 transition-all min-w-full"
    >Platforms</a
  >
  <a
    routerLink="publishers"
    class="text-xl text-center font-medium text-indigo-500 bg-white px-52 py-10 rounded-md hover:bg-indigo-100 transition-all min-w-full"
    >Publishers</a
  >
  <a
    routerLink="users"
    class="text-xl text-center font-medium text-indigo-500 bg-white px-52 py-10 rounded-md hover:bg-indigo-100 transition-all min-w-full"
    >Users</a
  >
  <a
    routerLink="roles"
    class="text-xl text-center font-medium text-indigo-500 bg-white px-52 py-10 rounded-md hover:bg-indigo-100 transition-all min-w-full"
    >Roles</a
  >
</div>
